@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html,
body {
  background-color: white !important;
  color: black !important; /* نصوص دايمًا سوداء */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0a1c6d;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
